div#outerCard {
  background-color: #E9E9E9;
  padding: 16px;
}

div#innerCard {
  background-color: #52B9D0;
  padding-top: 0;
  padding: 32px;
}

h3 {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #F8FEFC;
  margin: 0;
}